body {
  background: #313131;
  color: white;
  font-family: Ubuntu, Helvetica, Arial;
}

.profileContainer {
  text-align: center;
  width: 100%;
  padding: 20px;
}

  .profileContainer .profile {
    width: 200px;
    display: inline-block;
    text-align: center;
  }

    .profileContainer .profile .imageContainer {
      max-width: 128px;
      max-height: 128px;
      overflow: hidden;
      border-radius: 100px;
      border: 3px solid white;
      display: inline-block;
    }

      .profileContainer .profile .imageContainer .profileImage {
        max-width: 128px;
        max-height: 128px;
      }

    .profileContainer .profile .nameContainer {
      display: inline-block;
    }

.status {
  text-align: center;
}

form {
  width: 250px;
  margin: auto;
}

  form input {
    display: block;
    background: #313131;
    color: white;
    border: none;
    width: 250px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    font-size: 20px;
  }

  form label {
    margin-bottom: 10px;
  }

  form button {
    background: #818181;
    color: white;
    font-size: 16px;
    width: 125px;
    margin: auto;
    height: 50px;
    border: none;
    display: block;
  }
