<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1;" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
      </div>
    </div>
    <script src="/static/main.js"></script>
  </body>
</html>
